@page
<!-- -------------------- Pages\Index -------------------- -->
<h1>Typescript Source-Map Test</h1>

@section scripts{
    <script src="../TSMin.MSTest/bin/Debug/netcoreapp3.0/generated/map/app.js"></script>
    <script type="text/javascript">
        TSMin.Toast.info("fooo");
    </script>
}